// Colores
$primary_color: #1abc9c; // Verde azulado
$secondary_color: #2ecc71; // Verde
$background_color: #2c3e50; // Azul oscuro para el fondo del body
$card_background_color: #34495e; // Azul medio para el fondo de la card
$input_background_color: #3b4a5a; // Color de fondo para inputs y selects
$text_color: #ecf0f1; // Gris claro
$border_color: #1c2833; // Azul oscuro para el borde
$input_focus_color: $primary_color; // Color para el borde de inputs en focus
$error-color: #e74c3c;
$success-color: #27ae60;